
.sapUiContentPadding {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.scrollContainerWithPadding {
  background: var(--sapGroup_ContentBackground, #fff);
  border: 1px solid var(--sapList_BorderColor, #ccc);
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
}

.scrollContainerWithPadding .sapMScrollContScroll {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.scrollContainerWithPadding .sapMScrollContScroll > * {
  width: max-content;
  min-width: 100%;
}

.styledTable {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

.styledTable .sapMListTbl {
  padding: 10px 0;
}

.styledTable .sapMListTblHeaderCell,
.styledTable .sapMListTblCell {
  padding-inline: 12px;
  vertical-align: middle;
  border-right: 1px solid #e0e0e0;
}

.styledTable .sapMListTblHeaderCell:last-child,
.styledTable .sapMListTblRow > td:last-child {
  border-right: none;
}

.tableCell {
  padding: 0;
  border-right: 0;
}

.tableCell:last-child {
  border-right: 0;
}

.scrollRightButton,
.scrollLeftButton {
  position: absolute;
  top: 120px;
  z-index: 1000;
}

.scrollRightButton {
  right: 10px;
}

.scrollLeftButton {
  left: 10px;
}
.scrollContainerWithPadding .sapMScrollContScroll { overflow-x: auto; }


/* Detail View  */
.customHeader .topBar {
  background-color: #004d40;
  padding: 8px 16px;
  color: white;
}

.customHeader .titleBar {
  background-color: #f1f1f1;
  padding: 12px;
}

.equipmentForm .sapMLabel {
  font-weight: bold;
  color: #32363a;
}

.equipmentForm .sapMText {
  color: #6a6d70;
}

.saveBar {
  padding: 16px;
  background-color: #ffffff;
}

.saveButton {
  background-color: #ffffff;
  color: white;
}

.whiteIconButton{
   color: white !important;
}



.htex{
  color:#0d8975;
}


/* jjjjjjjjjjjjjjjjjjjjjjjjjjj */


.roundedLogo {
  border-radius: 2px;
  margin-left: 10px;
}
.HText{
  color:white;
  font-size: medium;
  padding-left: 10px;
}










.btntog{
  padding-left: 20px;
  padding-bottom: 5px;
}
.customInput .sapMInputBaseInner,
#customDatePicker .sapMInputBaseInner {
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
}

:root {
  --sapBackgroundColor: #ffffff !important;
}
.whiteIcon .sapMBtnIcon {
  color: white !important;
}